<!-- Libs JS -->
<script src="@@webRoot/node_modules/jquery/dist/jquery.min.js"></script>
<script src="@@webRoot/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="@@webRoot/node_modules/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="@@webRoot/node_modules/jquery-sparkline/jquery.sparkline.min.js"></script>
<script src="@@webRoot/node_modules/chartist/dist/chartist.min.js"></script>
<script src="@@webRoot/node_modules/chartist-plugin-threshold/dist/chartist-plugin-threshold.min.js"></script>
<script src="@@webRoot/node_modules/raphael/raphael.min.js"></script>
<script src="@@webRoot/node_modules/morris.js/morris.min.js"></script>
<script src="@@webRoot/node_modules/gaugeJS/dist/gauge.min.js"></script>
<script src="@@webRoot/node_modules/chart.js/dist/Chart.bundle.min.js"></script>
<script src="@@webRoot/node_modules/c3/c3.min.js"></script>
<script src="@@webRoot/node_modules/d3/dist/d3.min.js"></script>
<script src="@@webRoot/node_modules/inputmask/dist/jquery.inputmask.min.js"></script>
<script src="@@webRoot/node_modules/parsleyjs/dist/parsley.min.js"></script>
<script src="@@webRoot/node_modules/select2/dist/js/select2.min.js"></script>
<script src="@@webRoot/node_modules/multiselect/js/jquery.multi-select.js"></script>
<script src="@@webRoot/node_modules/fullcalendar/main.min.js"></script>
<script src="@@webRoot/node_modules/cropperjs/dist/cropper.min.js"></script>
<script src="@@webRoot/node_modules/sortablejs/Sortable.min.js"></script>
<script src="@@webRoot/node_modules/jquery-nestable/jquery.nestable.js"></script>
<script src="@@webRoot/node_modules/jquery-asColor/dist/jquery-asColor.min.js"></script>
<script src="@@webRoot/node_modules/jquery-asGradient/dist/jquery-asGradient.min.js"></script>
<script src="@@webRoot/node_modules/jquery-asColorPicker/dist/jquery-asColorPicker.min.js"></script>
<script src="@@webRoot/node_modules/@claviska/jquery-minicolors/jquery.minicolors.min.js"></script>
<script src="@@webRoot/node_modules/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
<script src="@@webRoot/node_modules/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="@@webRoot/node_modules/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="@@webRoot/node_modules/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="@@webRoot/node_modules/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
<script src="@@webRoot/node_modules/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="@@webRoot/node_modules/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="@@webRoot/node_modules/datatables.net-buttons/js/buttons.colVis.min.js"></script>
<script src="@@webRoot/node_modules/datatables.net-rowgroup/js/dataTables.rowGroup.min.js"></script>
<script src="@@webRoot/node_modules/datatables.net-select/js/dataTables.select.min.js"></script>
<script src="@@webRoot/node_modules/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
<script src="@@webRoot/node_modules/daterangepicker/moment.min.js"></script>
<script src="@@webRoot/node_modules/daterangepicker/daterangepicker.js"></script>
<script src="@@webRoot/node_modules/tempusdominus-bootstrap-4/build/js/tempusdominus-bootstrap-4.min.js"></script>
<script src="@@webRoot/node_modules/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js"></script>
<script src="@@webRoot/node_modules/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="@@webRoot/node_modules/jvectormap-next/jquery-jvectormap.min.js"></script>
<script src="@@webRoot/node_modules/ika.jvectormap/jquery-jvectormap-us-aea-en.js"></script>
<script src="@@webRoot/node_modules/cd-jvectormap/world-mill.js"></script>
<script src="@@webRoot/node_modules/gmaps/gmaps.min.js"></script>
<script src="@@webRoot/node_modules/quill/dist/quill.min.js"></script>


<!-- clipboard -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.12/clipboard.min.js"></script>







<!-- Theme JS -->
<!-- build:js @@webRoot/assets/js/theme.min.js -->
<script src="@@webRoot/assets/js/main.js"></script>
<script src="@@webRoot/assets/js/dashboard-ecommerce.js"></script>
<script src="@@webRoot/assets/js/dashboard-finance.js"></script>
<script src="@@webRoot/assets/js/dashboard-sales.js"></script>
<script src="@@webRoot/assets/js/dashboard-influencer.js"></script>
<script src="@@webRoot/assets/js/dashboard-contact.js"></script>
<script src="@@webRoot/assets/js/dashboard-invoice.js"></script>
<script src="@@webRoot/assets/js/jquery.slidereveal.js"></script>
<script src="@@webRoot/assets/js/data-table.js"></script>
<script src="@@webRoot/assets/js/invoice-table.js"></script>
<script src="@@webRoot/assets/js/c3chartjs.js"></script>
<script src="@@webRoot/assets/js/chartist.js"></script>
<script src="@@webRoot/assets/js/chart.js"></script>
<script src="@@webRoot/assets/js/morris.js"></script>
<script src="@@webRoot/assets/js/spark.js"></script>
<script src="@@webRoot/assets/js/gauge.js"></script>
<script src="@@webRoot/assets/js/inputmask.js"></script>
<script src="@@webRoot/assets/js/select2.js"></script>
<script src="@@webRoot/assets/js/multiselect.js"></script>
<script src="@@webRoot/assets/js/datepicker.js"></script>
<script src="@@webRoot/assets/js/bootstrap-touchspin.js"></script>
<script src="@@webRoot/assets/js/calendar.js"></script>
<script src="@@webRoot/assets/js/sort-nest.js"></script>
<script src="@@webRoot/assets/js/cropper.js"></script>
<script src="@@webRoot/assets/js/colorpicker.js"></script>
<script src="@@webRoot/assets/js/qty.js"></script>
<script src="@@webRoot/assets/js/jvectormap.custom.js"></script>
<script src="@@webRoot/assets/js/jquery-jvectormap-in-mill.js"></script>
<script src="@@webRoot/assets/js/jquery-jvectormap-uk-mill-en.js"></script>
<script src="@@webRoot/assets/js/jquery-jvectormap-au-mill.js"></script>
<script src="@@webRoot/assets/js/jquery-jvectormap-world-mill-en.js"></script>
<script src="@@webRoot/assets/js/offcanvas.js"></script>
<script src="@@webRoot/assets/js/sidebarMenu.js"></script>

<!-- endbuild -->